body {
    font-family: 'Nunito', sans-serif;
}

li {
	list-style-type: none;
}

a:hover {
	text-decoration: none
}

h3 {
	margin: 0;
}

.nav-fix {
	position: fixed;
	width: 100%;
	z-index: 10;
	font-weight: bold;
}

@media (max-width:359px) {
	.navbar-header > img, .navbar-header a:first-of-type {
		display: none;
	}
}

#nav-overrides input {
	width: 120px;
	background-color: #D3D3D3;
}

.navbar {
	background-color: #FFFFFF;
	border: none;
	padding: 5px 0;
	margin-bottom: 0;
	border-radius: 0px;
}

#nav-overrides a {
	color: #444;
}

#nav-overrides a:hover {
	color: #000;
}


#nav-overrides .navbar-header img {
	transform: scale(2);
}

#nav-overrides .navbar-nav {
	margin: 0 0 0 2%;
}

#nav-overrides .sign {
	padding-left: 10px;
}

@media (min-width:768px) {
	.sign {
		position: absolute;
		right: 240px;
	}
	#signup {
		right: 160px;	
	}
}

#signup {
	background-color: #FFB446;
	padding-right: 10px;
	border-radius: 3px;
}

/*      main      */

#main {
	background-color: #F5F5F5;
}

/*  	prez 	  */
.prez-back, #join {
	background-image: url(images/icon-background.png);
	background-size: 700px;
}

.prez {
	padding: 20vh 0 10vh 0;
	background-color: rgb(20,181,62,0.9);
}

.text-align{
	text-align: center;
}

.title {
	color: #FFFFFF;
	font-size: 55px;
}

.subtitle {
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 40px;
}

#title-link1 {
	padding: 10px;
	border-radius: 6px;
	background-color: #FFFFFF;
	color: #14ABFF;
	font-size: 20.5px;
	transition: background-color 0.5s, color 0.5s;
}

#title-link1:hover {
	background-color: #14ABFF; 
	color: #FFFFFF;
}

#title-link2 {
	padding: 10px;
	border-radius: 6px;
	background-color: #FF2B56;
	color: #FFFFFF;
	font-size: 20.5px;
	transition: background-color 0.5s, color 0.5s; 
}

#title-link2:hover {
	color: #FF2B56;
	background-color: #FFFFFF;
}

@media (max-width:347px) {
	#title-link2, #title-link1 {
		display: block;
		margin-top: 20px;
	}
}

/*      CONTENT   	*/

.content {
	padding: 10vh 0;
}

.content > .container, .news > .container, #join > .container, footer > .container {
	max-width: 1125px;
}

.card a {
	font-size: 15px;
	color: #545452
}

.card {
	margin-bottom: 20px;
	transition: box-shadow 0.4s;
	border: 1px solid #C4C4C4;
	border-radius: 5px;
}

.card:hover {
	box-shadow: 1px 1px 10px;
}

.card-img {
	display: block;
	width: 100%;
	background-size: cover;
	background-position: center;
}

#card1 > a {
	
	height: 180px;
	background-image: url("images/card1.jpg");
}

#card2 > a {
	height: 180px;
	background-image: url("images/card2.jpg");
}

#card3 > a {
	height: 243px;
	background-image: url("images/card3.jpg");
}

#card4 > a {
	height: 243px;
	background-image: url("images/card4.jpg");
	background-position: bottom;
}

#card5 > a {
	height: 180px;
	background-image: url("images/card5.jpg")
}

#card6 > a {
	height: 180px;
	background-image: url("images/card6.jpg")
}

#card7 > a {
	height: 180px;
	background-image: url("images/card7.jpg")
}

.card-content {
	/*border: 1px solid #C4C4C4;*/
	border-bottom: 0px;
	border-top: 0px;
	padding: 20px;
}

.card-footer {
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
	border-top: 1px solid #C4C4C4;
}

.card h2 {
	margin: 0;
	font-size: 15px;
	line-height: 20px;
}

.sponsor-tag {
	background-color: #D5D5D5;
	border-radius: 4px;
	padding: 1px 10px 3px 10px;
	margin: 0 auto;
}

/* 			NEWS 		*/

.news {
	padding-bottom: 10vh;
}

.post h2 {
	margin: 8px 0;
	color: #545452;
	font-size: 15px;
	font-weight: 600;
}

.news small, small a {
	padding-top: 10px;
	color: #A2A2A2;
	font-size: 12px;
}

.title-news {
	color: #3F3F3F;
}

.post {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

@media (max-width:640px) {
	.post {
		flex-direction: column;
		text-align: center;
	}
}

.post-img {
	display: block;
	width: 220px;
	min-width: 220px;
	background-size: cover;
	background-position: center;
}

#post1 {
	height: 115px;
	background-image: url("images/post1.jpg");
}

#post2 {
	height: 115px;
	background-image: url("images/post2.jpg");
}

#post3 {
	height: 115px;
	background-image: url("images/post3.jpg");
}

#post4 {
	height: 115px;
	background-image: url("images/post4.jpg");
}

#post5 {
	height: 115px;
	background-image: url("images/post5.jpg");
}

#post6 {
	height: 115px;
	background-image: url("images/post6.jpg");
}

#post7 {
	height: 115px;
	background-image: url("images/post7.jpg");
}

#post8 {
	height: 115px;
	background-image: url("images/post8.jpg");
}

.more {
	text-align: center;
	display: block;
	margin: auto;
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	margin: 30px 0 30px 0;
	transition: background-color 0.3s, color 0.3s;
}

.posts .more {
	border: 1px solid #296DDA;
	background-color: #296DDA;
	color: #FFFFFF;
}

.posts .more:hover {
	background-color: #FFFFFF;
	color: #296DDA;
}

.videos .more {
	border: 1px solid #303030;
	background-color: #303030;
	color: #FFFFFF;
}

.videos .more:hover {
	background-color: #FFFFFF;
	color: #303030;
}

.video {
	text-align: center;
}

#video1 {
	height: 190.5px;
	background-image: url("images/video1.jpg")
}

#video2 {
	height: 190.5px;
	background-image: url("images/video2.jpg")
}

#video3 {
	height: 190.5px;
	background-image: url("images/video3.jpg")
}

#video4 {
	height: 190.5px;
	background-image: url("images/video4.jpg");
}

/*   	JOIN   	  */

.join-back {
	background-color: rgb(9,137,249,0.9);
}

#join h2 {
	font-size: 67px;
	text-align: center;
	margin: 60px 0;
	color: #FFFFFF;
}

.join-content {
	position: relative;
	text-align: center;
	color: #FFFFFF;
	background-color: #1862AB;
	padding: 25px;
	border-radius: 10px;
	margin: 30px 0 100px 0;
}

#join h4 {
	font-size: 20px;
	font-weight: 700;
}

#join p {
	font-size: 15px;
	line-height: 25px;
}

.join-icon {
	position: absolute;
	top: -35px;
	left: 42%;
	background-color: #1862AB;
	border-radius: 50%;
	padding: 20px;
	font-size: 30px;
	height: 70px;
}

@media (max-width:640px) {
	.join-icon {
		display: none;
	}
}

.prices {
	margin-bottom: 15vh;
}

.prices .col-md-4 {
	margin-top: 50px;
}

@media (min-width:992px) {
	#free {
		margin-top: 250px;
	}
}

.price-content {
	background-color: #FFFFFF;
	padding: 20px;
	font-size: 18px;
	color: #595757;
}

.price-content ul {
	padding: 0;
}

.price-content li {
	border-bottom: 1px solid #EFEFEF;
	padding: 20px 0;
}

.price-title1 {
	display: block;
	background-color: #11D5B5;
	padding: 17px 17px 17px 25px;
	color: #FFFFFF;
	border-radius: 5px 5px 0 0;
}


.price-title2 {
	display: block;
	background-color: #F6A617;
	padding: 17px 17px 17px 25px;	
	color: #FFFFFF;
	border-radius: 5px 5px 0 0;
}

.price-footer {
	background-color: #E7F4FF;
	padding: 15px;
	border-radius: 0px 0px 5px 5px
}

.price-footer a {
	display: block;
	text-align: center;
	background-color: #00C4A7;
	color: #FFFFFF;
	padding: 12px;
	font-size: 30px;
	border-radius: 5px;
	font-weight: 700;
	transition: background-color 0.4s;
}

.price-footer a:hover {
	background-color: #009781;
}

#premium-price {
	background-color: #F6A617;
}

#premium-price:hover {
	background-color: #D98E07;
}

/*  	FOOTER 		*/

footer {
	background-color: #222222;
	color: #888888;
}

.box {
	margin: auto;
	margin-top: 10vh;
	margin-bottom: 15vh;
	padding: 22.5px 22.5px 0 22.5px;
	background-color: #000000;
	text-align: center;
	color: #797979;
	border-radius: 5px;
	max-width: 300px;
}

.box a {
	width: 100%;
	height: 180px;
	display: block;
	background-size: cover;
}

.box1 a {
	background-image: url("images/box1.jpg");
}

.box2 a {
	background-image: url("images/box2.png");
}

.box3 a {
	background-image: url("images/box3.jpg");
	height: 160px;
}

.box4 a {
	background-image: url("images/box4.png");
	height: 160px;
}

.box h4 {
	padding: 5px 0 15px 0;
}
.social-title h4 {
	color: #FFFFFF;
}

.logo {
	float: left;
	margin-right: 20px;
}

.logo img {
	width: 80px;
	height: 80px;
}

.social p {
	font-size: 12px;
	margin-bottom: 20px;
}

@media (min-width:500px) {
	.social p {
		font-size: 18px;
	}	
}

.social-links {
	margin: 0;
	padding: 0;
	display: flex;
}

.social-links a {
	text-decoration: none;
}

.social-links li {
	margin-right: 30px;
	margin-bottom: 30px;
	display: block;
	padding: 10px;
}

.social-links a:nth-child(1) {
	color: #00D1E4;
}

.social-links a:nth-child(2) {
	color: #037DD5;
}

.social-links a:nth-child(3) {
	color: #FFFFFF;
}

.footer-infos {
	margin-bottom: 50px;
}

.footer-infos a {
	color: #7E7E7E;
}

.footer-infos h4 {
	color: #BDBDBD;
	margin-bottom: 15px;
}

.footer-infos ul {
	margin: 0;
	padding: 0;
}

.footer-infos li {
	margin-bottom: 15px;
	color: #797979;
	text-align: right;
	transition: color 0.4s;
}

@media (max-width:500px) {
	.footer-infos li {
		text-align: center;
	}
}

.footer-infos a:hover, .footer-infos li:hover {
	color: #B8B8B8;
}

.end {
	background-color: #111111;
	padding: 5vh 0;
}

.end a {
	color: #BDBDBD;
	font-size: 20px;
}

.dev1 a {
	background-image: url("images/dev1.jpg");
	display: block;
	background-size: cover;
	width: 80px;
	height: 80px;
	margin: 0 20px 10px 0
}

.dev2 a {
	background-image: url("images/dev2.jpg");
	display: block;
	background-size: cover;
	width: 80px;
	height: 80px;
	margin: 0 0 10px 0;
}

.flex {
	display: flex;
}

.text-right {
	justify-content: flex-end;
}

.text-right li {
	margin-left: 15px;
}

.text-right li:hover {
	color: #9D9D9D; 
}

.end p {
	text-align: right;
}